$primary-color: #9538f2;
$primary-color-dark: #6d28d9;
$secondary-color: #121d59;
$bg-color: #0a0d1c;
$bg-color-dark: #151933;
$white-color: #fff;
$white-color-light: #bab9b9;
$white-color-very-light: #f2f2f2;
