@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-base: "Montserrat", sans-serif;

* {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
router-link {
  text-decoration: none;
  color: $white-color;
  transition: color 0.3s;
  &:hover {
    color: $primary-color;
  }
}
